/* COLOR VARIABLES */
:root {
    --grid-size: 16;
    /* light mode colors */
    --site-background: #F1F5F9;
    --canvas-background: #FFFFFF;
    --canvas-border: #E2E8F0;
    --canvas-color: #1E293B;
    --canvas-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --site-background: #0F172A;
        --canvas-background: #1E293B;
        --canvas-border: #334155;
        --canvas-color: #F8FAFC;
        --canvas-shadow: 0 4px 6px rgba(148, 163, 184, 0.3);
    }
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--site-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CANVAS */
.canvas {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    width: 800px;
    height: 800px;
    background-color: var(--canvas-background);
    border: 2px solid var(--canvas-border);
    user-select: none;
}

/* PIXELS */
.pixel {
    border: 1px solid var(--canvas-color);
    cursor: pointer;
}

.active-pixel {
    background-color: var(--canvas-color);
}